.dropdown {
	position: absolute;
	width: 35vw;

	@include respond(700) {
		width: 45vw;
	}

	@include respond(600) {
		left: 4.5px;
		width: 98vw;
		top: 50px;
	}

	@include respond(400) {
		left: 3.5px;
	}

	&__content {
		position: relative;
		display: inline-block;
		width: 100%;
		margin-top: 1rem;
		background-color: $light-grey;
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
		z-index: 1;
		border-radius: 3px;

		@include respond(600) {
			height: 59rem;
		}
	}

	&__content--empty-search,
	&__no-results,
	&__loading,
	&__error {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 6rem;
		font-size: $sm-font-size;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 5.9rem;
		cursor: pointer;
		z-index: 1;

		&:hover {
			background-color: $primary-color-light;
		}

		&--title {
			text-align: left;
			font-size: $sm-font-size;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin: 1rem 1rem 1rem 1.5rem;
		}

		&--img {
			height: 5rem;
			width: 3.333rem;
			margin: 1rem 1.5rem 1rem 1rem;
		}
	}

	&__results {
		max-height: 50vh;
		overflow-y: scroll;

		@include respond(600) {
			max-height: unset;
		}
	}

	&__item > .material-icons {
		transform: rotate(45deg);
		margin-right: 1.5rem;
		color: $used-link-color;
	}

	&__item-with-icon {
		width: 80%;
		display: flex;
		align-items: center;
		margin-left: 1.5rem;
		color: $used-link-color;
	}
}
