.input-search {
	display: inline-block;
	margin: 0.5rem;
	grid-column: 3 / span 3;

	&__field {
		width: 35vw;
		height: 3rem;
		font-size: 1.6rem;
		outline: none;
		border-radius: 3px;
		border: 2px solid darken(#fff, 15%);
		transition: all 0.1s;

		&:focus {
			border: 2px solid #359be4;
			color: lighten(#000, 20%);
		}
	}
}
