.footer {
	background-color: $dark-grey;
	color: $white-color;

	&__text {
		padding: 0.9rem;
		margin: 0;
		color: darken($white-color, 50%);
		font-size: $sm-font-size;

		a {
			color: darken($white-color, 50%);
			font-size: $sm-font-size;
			display: inline-block;
			background-color: $dark-grey;

			&:hover,
			&:active {
				color: $primary-color;
				box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
			}
		}
	}
}
