.movie-reviews {
	min-height: 10rem;
	display: flex;
	align-items: flex-start;

	@include respond(600) {
		justify-content: center;
	}

	@include respond(1300) {
		padding: 0 5rem;
	}

	@include respond(1800) {
		padding: 0 10rem;
	}

	&__loading > img {
		margin: 3rem 0;
		width: 5rem;
		height: 5rem;

		@include respond(500) {
			margin: 5.5rem 0;
		}
	}

	&__container {
		max-width: 500px;
		margin-left: 1.5rem;
		margin-right: 5rem;
		margin-bottom: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		@include respond(500) {
			max-width: unset;
			margin-right: 1rem;
		}

		@include respond(1500) {
			max-width: 600px;
		}

		@include respond(1800) {
			max-width: 700px;
		}
	}

	&__poster-container {
		margin-top: 0.7rem;
		margin-left: 5rem;

		@include respond(500) {
			max-width: unset;
			margin-left: 1rem;
		}
	}

	&__poster {
		width: 6.5rem;
	}

	&__plot {
		font-size: $sm-font-size;
		line-height: 1.4;
		letter-spacing: 0.5px;
		text-align: left;
		margin: 0;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;

		@include respond(1500) {
			font-size: $default-font-size;
		}
	}

	&__details {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__ratings-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title > div {
		font-size: $lg-font-size;
		font-weight: 700;
		margin-right: 1.5rem;
		text-align: left;

		@include respond(1500) {
			font-size: $xl-font-size;
		}
	}

	&__component {
		width: 8rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&:first-child {
			margin-right: 0.5rem;
		}
		&:last-child {
			margin-right: 0.5rem;
		}

		&--icon {
			width: 2.3rem;
			margin-right: 1rem;
		}

		&--rating {
			font-size: $lg-font-size;
		}
	}
}
