.movie-review-container {
	display: flex;

	@include respond(900) {
		flex-wrap: wrap;
	}

	@include respond(1300) {
		padding: 0 5rem;
	}

	@include respond(1800) {
		padding: 0 10rem;
	}
}

.movie-reviews {
	min-height: 10rem;
	display: flex;
	align-items: flex-start;

	@include respond(600) {
		justify-content: center;
	}

	&__loading > img {
		margin: 3rem 0;
		width: 5rem;
		height: 5rem;

		@include respond(500) {
			margin: 5.5rem 0;
		}
	}

	&__details-container {
		max-width: 500px;
		margin-left: 1.5rem;
		margin-bottom: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		@include respond(500) {
			max-width: unset;
			margin-right: 1rem !important;
		}

		@include respond(900) {
			margin-right: 5rem;
		}

		@include respond(1500) {
			max-width: 600px;
		}

		@include respond(1800) {
			max-width: 700px;
		}
	}

	&__poster-container {
		margin-top: 0.7rem;
		margin-left: 5rem;

		@include respond(500) {
			max-width: unset;
			margin-left: 1rem;
		}
	}

	&__poster {
		width: 6.5rem;
	}

	&__plot {
		font-size: $sm-font-size;
		line-height: 1.4;
		letter-spacing: 0.5px;
		text-align: left;
		margin: 0;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;

		@include respond(1500) {
			font-size: $default-font-size;
		}
	}

	&__similar-movies-list {
		margin: 0 5rem 1.5rem auto;
		display: grid;
		column-gap: 1rem;
		row-gap: 0.5rem;
		grid-template-rows: 2.5rem 1fr;
		grid-template-columns: repeat(2, 1fr);

		@include respond(1100) {
			margin-left: 5rem;
		}

		@include respond(900) {
			grid-template-columns: repeat(2, minmax(15rem, 1fr));
		}

		@include respond(500) {
			margin-left: 1rem;
			margin-right: 1rem;
		}

		&--title {
			text-align: left;
			font-size: $default-font-size;
			font-weight: 700;
			grid-column: 1 / 3;
			grid-row: 1 / 2;

			@include respond(1500) {
				font-size: $md-font-size;
			}
		}
	}

	.item-0 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.item-1 {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}

	&__similar-movie {
		cursor: pointer;
		width: 18rem;

		@include respond(400) {
			width: unset;
		}

		& > img {
			width: 18rem;
			height: 10rem;
			transition: all 0.2s;

			&:hover {
				filter: brightness(50%);

				@include respond(400) {
					filter: unset;
				}
			}

			@include respond(400) {
				width: 100%;
			}
		}

		&--title {
			font-size: $sm-font-size;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			@include respond(1500) {
				font-size: $default-font-size;
			}
		}

		& .image-spinner-container {
			height: 10rem;
			width: 18rem;
		}
	}

	&__details {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__ratings-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title > div {
		font-size: $lg-font-size;
		font-weight: 700;
		margin-right: 1.5rem;
		text-align: left;

		@include respond(1500) {
			font-size: $xl-font-size;
		}
	}

	&__component {
		width: 8rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&:first-child {
			margin-right: 0.5rem;
		}
		&:last-child {
			margin-right: 0.5rem;
		}

		&--icon {
			width: 2.3rem;
			margin-right: 1rem;
		}

		&--rating {
			font-size: $lg-font-size;
		}
	}
}
