// COLORS
$primary-color: #359be4;
$primary-color-light: #c5e3f8;
$secondary-color: #4b79a1;
$secondary-color-dark: #283e51;

$used-link-color: #609;

$black-color: #000;
$white-color: #fff;

$dark-grey: #333333;
$light-grey: #f9f9f9;

// FONT SIZE
$sm-font-size: 1.4rem;
$default-font-size: 1.6rem;
$md-font-size: 1.8rem;
$lg-font-size: 2rem;
$xl-font-size: 2.2rem;
