.three-bounce {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1.1rem 0 0 -3.1rem;

	@media screen and (max-width: 600px) {
		top: 5%;
	}

	div {
		background: #689cc5;
		display: inline-block;
		height: 1.2rem;
		width: 1.2rem;
		border-radius: 100%;
		animation: bouncedelay 1.4s infinite ease-in-out;
		animation-fill-mode: both;

		&.one {
			animation-delay: -0.32s;
		}

		&.two {
			animation-delay: -0.16s;
		}
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}
