.dropdown {
	position: absolute;
	left: 32.5%;
	width: 35vw;
	margin: 0 auto;

	&__content {
		position: relative;
		display: inline-block;
		width: 100%;
		margin-top: 1rem;
		background-color: #f9f9f9;
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
		z-index: 1;
		border-radius: 3px;
	}

	&__loading,
	&__error {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 6rem;
		font-size: 1.4rem;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 6rem;
		cursor: pointer;
		z-index: 1;

		&:hover {
			background-color: #c5e3f8;
		}

		&--title {
			font-size: 1.4rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin: 1rem;
		}

		&--img {
			height: 5rem;
			width: 3.333rem;
			margin: 1rem;
		}
	}

	&__results {
		max-height: 50vh;
		overflow-y: scroll;
	}
}
