html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.layout {
	min-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: 5rem 1fr 3.8rem;
}
