html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.app {
	min-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
